 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in Computer Science</h4>
    <h5 class="meta">SVEC Engg. College</h5>
    <div class="time">2005 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Intermediate</h4>
    <h5 class="meta">Sri Chaitanya</h5>
    <div class="time">2003 - 2005</div>
</div>
<div class="item">
    <h4 class="degree">Schooling</h4>
    <h5 class="meta">Bala Bharathi</h5>
    <div class="time">1991 - 2003</div>
</div>
</div>
