<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">December 2012 – Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Josh Software Pvt. Ltd, Pune, Maharashtra</div>
                    </div><!--//meta-->
                    <div class="details project-tagline">
                      <p>Managing Team, Interact with the client for specifications, provide suggestions to
                      clients for the betterment 
                      of application, delivery quality work,
                      server maintenance, deployment, DB design, guidance to freshers about technology,
                      upgrading applications.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">May 2010 – December 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Josh Software Pvt. Ltd, Pune, Maharashtra</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Learning technology, convert functional requirements into automated test cases,
                      manual QA.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
