<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                  <span class="project-title">Real Estate:</span> <span class="project-tagline"><p>It’s a
                    multi-tenant system which takes houses online. It removes the barrier between real estate
                  project developers and the customers who want to purchase the house. It also acts as an
                  enquiry platform to reach customers. Acts as BaaS for the salesperson to improve sales and
                  provides detail reporting of sales/cancellations, money collected from sales, assist
                  customer complaints and manages project inventory.</p></span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Transportation System: </span> 
                    <span class="project-tagline"><p>It’s a state of art transportation system which connects
                      vendors with  transporters. Using a unique way of bidding algorithm it selects best
                      vendor to transport goods in a route. With less hassling it gives detail information
                      about orders and their respective Advance/balance reconciliations.</p></span>
                </div><!--//item-->
            </section><!--//section-->
