<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro project-tagline">
                  I have an experience in building apps in different application domains. Below set of
                  projects provide detail information.
                </div>
                <div class="item">
                  <span class="project-title">Real Estate:</span> <span class="project-tagline"><p>It’s a
                    multi-tenant system which takes houses online. It removes the barrier between real estate
                  project developers and the customers who want to purchase the house. It also acts as an
                  enquiry platform to reach customers. Acts as BaaS for the salesperson to improve sales and
                  provides detail reporting of sales/cancellations, money collected from sales, assist
                  customer complaints and manages project inventory.</p></span>
                </div>
                <div class="item">
                    <span class="project-title">Transportation System:</span> 
                    <span class="project-tagline"><p>It’s a state of art transportation system which connects
                      vendors with  transporters. Using a unique way of bidding algorithm it selects the best
                      vendor to transport goods in a route. With less hassling it gives detail information
                      about orders and their respective Advance/balance reconciliations.</p></span>
                </div>
                <div class="item">
                    <span class="project-title">Analytics System:</span> 
                    <span class="project-tagline"><p>A Programmatic CRM which provides real time segmentation
                      with dynamic content to automate segment of one marketing on every channel.</p></span
                </div>
                <div class="item">
                    <span class="project-title">Tourism Industry:</span> 
                    <span class="project-tagline"><p>It acts as a platform which integrates suppliers, tour
                      operators and agents for their mutual benefit. It helps users to find, manage partner
                      relationships.</p></span>
                </div>
                <div class="item">
                    <span class="project-title">Manufacturing Industry:</span> 
                    <span class="project-tagline"><p>It is an inventory management system & acts as an
                      aggregator for metal precision components which allows a user to raise orders for parts,
                      aggregates the collected parts and the raise invoice.</p></span>
                </div>
            </section><!--//section-->
